alabaster==0.7.12
Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
chromedriver==2.24.1
click==7.1.2
colorama==0.3.9
covid==2.4.0
cycler==0.10.0
decorator==4.4.2
dlib==19.21.0
docutils==0.16
face-recognition==1.3.0
face-recognition-models==0.3.0
fann2==1.1.2
fasteners==0.15
Flask==1.1.2
functiontrace==0.3.4
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geolocation-python==0.2.2
geopy==2.0.0
gevent==20.9.0
google==3.0.0
greenlet==0.4.17
gTTS==2.2.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.3.0
imutils==0.5.3
inflection==0.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.2.0
lingua-franca==0.2.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.2
monotonic==1.5
newsapi==0.1.1
newsapi-python==0.2.6
nltk==3.3
numpy==1.19.2
packaging==20.8
padaos==0.1.10
padatious==0.4.8
pantilthat==0.0.7
picamera==1.13
Pillow==8.0.1
pkg-resources==0.0.0
playsound==1.2.2
psutil==5.7.3
PyAudio==0.2.11
pydantic==1.7.3
pyee==8.1.0
Pygments==2.7.3
pyparsing==2.4.7
python-dateutil==2.6.0
pyttsx3==2.90
pytz==2020.5
pyxdg==0.27
ratelim==0.1.6
regex==2020.11.13
reportlab==3.5.59
requests==2.24.0
rst2pdf==0.98
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
smartypants==2.0.1
snakeviz==2.1.0
snowballstemmer==2.0.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
Sphinx==3.4.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tornado==6.1
tqdm==4.56.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.25.11
websocket==0.2.1
websocket-client==0.57.0
Werkzeug==1.0.1
wikipedia==1.4.0
xdg==5.0.0
xxhash==2.0.0
yummy-sphinx-theme==0.1.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.1.2
